name: Node.js build

on:
  push:
    branches: [ main, live ]
  pull_request:
    branches: [ main, live ]
  workflow_dispatch:

jobs:
  build:
    defaults:
      run:
        working-directory: demo/graphtutorial

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 16.x, 17.x ]

    steps:
    - uses: actions/checkout@v3
    - name: Copy settings file
      run: |
        cp appSettings.example.js appSettings.js
    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npm ci
    - name: Run linter
      run: npm run lint
